@{
    ViewBag.Title = "Datos del paciente";
}
@model ConsultorioMVC.Models.HistoriaClinica

<link href="~/Content/mis-estilos.css" rel="stylesheet" />
<link href="~/Content/daterangepicker.css" rel="stylesheet" />

@{ if (ViewBag.Message != null)
    {
        if (ViewBag.Error == 2)
        {
            <!-- Modal -->
            <div class="modal fade" id="modalNotif" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content d-flex flex-column" id="NotifContainer" style="background-color: crimson;">
                        <button type="button" id="btnCerrar" class="btn-close mb-3 align-self-end justify-content-end" data-bs-dismiss="modal" aria-label="Close"></button>
                        <h3 id="txtNotification" class="fw-bold text-center text-white mb-3"><i class="bi bi-exclamation-diamond"></i>&nbsp;@ViewBag.Message<br /></h3>
                    </div>
                </div>
            </div>
            <button id="btnModal" style="display: none" data-bs-toggle='modal' data-bs-target='#modalNotif'></button>
        }
        else
        {
            <!-- Modal -->
            <div class="modal fade" id="modalNotif" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content d-flex flex-column px-5" id="NotifContainer" style="background-color: yellowgreen;">
                        <button type="button" id="btnCerrar" class="btn-close mb-3 align-self-end justify-content-end" data-bs-dismiss="modal" aria-label="Close"></button>
                        <h3 id="txtNotification" style="color: black;" class="text-center fw-bold mb-3"><i class="bi bi-info-circle"></i>&nbsp;@ViewBag.Message<br /></h3>
                    </div>
                </div>
            </div>
            <button id="btnModal" style="display: none" data-bs-toggle='modal' data-bs-target='#modalNotif'></button>
        }
    }
}

<h1 class="text-center mb-4">Datos del paciente</h1>

<div id="datos-paciente" class="container-fluid mt-5">
    <label class="mb-2">Apellido: </label>
    <input id="txtApellido" type="text" class="form-control mb-2" disabled />

    <label class="mb-2">Teléfono: </label>
    <input id="txtTelefono" type="tel" class="form-control mb-2" disabled />

    <label class="mb-2">Nombre: </label>
    <input id="txtNombre" type="text" class="form-control mb-2" disabled />

    <label class="mb-2">Fecha de nacimiento: </label>
    <input id="txtNacimiento" type="text" class="form-control mb-2" disabled />

    <label class="mb-2">Dirección: </label>
    <input id="txtDireccion" type="text" class="form-control mb-2" disabled />

    <label class="mb-2">Obra Social: </label>
    <input id="txtOS" type="text" class="form-control mb-2" disabled />

    <label class="mb-2">Localidad: </label>
    <input id="txtLocalidad" type="text" class="form-control mb-2" disabled />

    <button id="btnAgregar" type="button" class="btn btn-success px-4 mt-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Agregar
    </button>

</div>

<hr class="mt-5" />

<h2 class="text-center mb-4">Historias clínicas</h2>

<div id="tarjetasHC" class="container d-flex flex-row row mx-auto justify-content-center">

</div>

@{
    using (Html.BeginForm("", "", FormMethod.Post, new { @id = "formHC", @class = "formPaciente container-fluid sombra", @style = "max-width: 600px" }))
    {
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body contenedor-modal">
                        @Html.HiddenFor(model => model.IDPaciente, new { @id = "txtPacienteID" })
                        <span></span>
                        @Html.ValidationMessageFor(model => model.IDPaciente, null, new { @class = "text-danger mb-3" })

                        <label class="mb-2">ID: </label>
                        @Html.TextBoxFor(model => model.ID, new { @id = "txtID", @readonly = "readonly", @class = "form-control limpiarCampo w-25 mb-3" })

                        <label class="mb-2">Fecha: </label>
                        @Html.TextBoxFor(model => model.Fecha, new { @id = "txtFecha", @readonly = "readonly", @class = "form-control limpiarCampo habilitarCampo deshabilitarCampo", @placeholder = "dd/mm/aaaa" })
                        <span></span>
                        @Html.ValidationMessageFor(model => model.Fecha, null, new { @class = "text-danger mb-3" })

                        <label class="mb-2">Descripción: </label>
                        @Html.TextAreaFor(model => model.Descripcion, new { @id = "txtDescripcion", @cols = "80", @rows = "20", @style = "height: 250px", @class = "form-control limpiarCampo habilitarCampo deshabilitarCampo", @placeholder = "Ingresa una observación" })
                        <span></span>
                        @Html.ValidationMessageFor(model => model.Descripcion, null, new { @class = "text-danger mb-3" })
                    </div>
                    <div class="modal-footer">
                        <button id="btnCancelar" type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button id="btnAceptar" type="submit" class="btn btn-success">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/daterangepicker.js"></script>
<script src="~/Scripts/daterangepicker-es.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script src="~/Scripts/historias-clinicas.js"></script>