@{
    ViewBag.Title = "Carga horarios";
}
@model ConsultorioMVC.Controllers.DiasHorariosController.DiaHorarioViewModel

<link href="~/Content/mis-estilos.css" rel="stylesheet" />
<link href="~/Content/daterangepicker.css" rel="stylesheet" />

@{ if (ViewBag.Afectados != null || ViewBag.Repetidos != null)
    {
        if (ViewBag.Error == 1)
        {
            <!-- Modal -->
            <div class="modal fade" id="modalNotif" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content d-flex flex-column" id="NotifContainer" style="background-color: crimson;">
                        <button type="button" id="btnCerrar" class="btn-close mb-3 align-self-end justify-content-end" data-bs-dismiss="modal" aria-label="Close"></button>
                        <h3 id="txtNotification" class="fw-bold text-center text-white mb-3"><i class="bi bi-exclamation-diamond"></i>&nbsp;Ha ocurrido un error.<br /><br />Se han guardado @ViewBag.Afectados horarios<br /></h3>
                    </div>
                </div>
            </div>
            <button id="btnModal" style="display: none" data-bs-toggle='modal' data-bs-target='#modalNotif'></button>
        }
        else
        {
            <!-- Modal -->
            <div class="modal fade" id="modalNotif" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content d-flex flex-column px-5" id="NotifContainer" style="background-color: yellowgreen;">
                        <button type="button" id="btnCerrar" class="btn-close mb-3 align-self-end justify-content-end" data-bs-dismiss="modal" aria-label="Close"></button>
                        <h3 id="txtNotification" style="color: black;" class="text-center fw-bold mb-3"><i class="bi bi-info-circle"></i>&nbsp;Se han guardado @ViewBag.Afectados horarios<br /><br />Seleccionaste @ViewBag.Repetidos horario/s repetido/s</h3>
                    </div>
                </div>
            </div>
            <button id="btnModal" style="display: none" data-bs-toggle='modal' data-bs-target='#modalNotif'></button>
        }
    }
}

<h1 class="text-center">Carga de días y horarios</h1>

@{
    using (Html.BeginForm("Save", "DiasHorarios", FormMethod.Post, new { @id = "formHorarios" }))
    {
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-4">
                    <label id="campo0" class="form-label">Ingrese el rango de fechas: </label>
                    @Html.TextBox("rangoFechas", null, new { @id = "rangoFechas", @class = "form-control required", @readonly = "readonly" })
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <label class="form-label me-3 align-self-center">Seleccionar todo: </label>
                    <input type="checkbox" onclick="selectAll(this)" id="selecciona-todo" style='transform:scale(1.5)'>
                </div>
            </div>
        </div>

        <div id="tabla-dh" class="mt-4">
            <table class='container table table-oscura table-striped table-bordered table-hover'>
                <thead>
                    <tr class='fw-bold'>
                        <td class='text-center'>Horario</td>
                        <td class='text-center'>Atiende</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ConsultorioMVC.Models.Horario horario in Model.Horarios)
                    {
                        <tr class='text-center'>
                            <td>@horario.Hora.ToShortTimeString()</td>
                            <td>
                                <div class='d-flex justify-content-center'>
                                    @Html.CheckBox("horas[]", new { @id = "rangoFechas", @type = "checkbox", @class = "form-check", @style="transform:scale(1.5)", @value = @horario.ID })
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <button id="btnAceptar" type="submit" class="btn btn-success">Agregar</button>
        
        @Html.HiddenFor(model => model.DiasString, new { @id = "arrayDias" })
        @Html.HiddenFor(model => model.IDHorarios, new { @id = "arrayHorarios" })
    }
}

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/moment-with-locales.js"></script>
<script src="~/Scripts/daterangepicker.js"></script>
<script src="~/Scripts/daterangepicker-es.js"></script>
<script src="~/Scripts/dias-horarios.js"></script>